<ul class="nav" role="navigation">
    <li class="dropdown actual-dropdown-menu" id="gear-menu">
        <a id="settings-dropdown" tabindex="0" role="button" class="dropdown-toggle" data-target="nada" data-toggle="dropdown" title="{{t 'Menu' }} (g)">
            <img class="toggle-colors-icon settings-custom" src="/static/images/senla/settings.svg" alt="settings">
            <img class="toggle-colors-icon-dark settings-custom" src="/static/images/senla/settings-dark.svg" alt="settings">
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="settings-dropdown">
            <li class="org-info org-name">{{realm_name}}</li>
            <li class="org-info org-url">{{realm_uri}}</li>
            {{#if is_self_hosted }}
                <li class="org-info org-version">
                    <a href="#about-zulip" role="menuitem">{{version_display_string}}</a>
                </li>
                {{#if server_needs_upgrade }}
                <li class="org-info org-upgrade small-font-size">
                    <a href="https://zulip.readthedocs.io/en/stable/production/upgrade-or-modify.html" target="_blank" rel="noopener noreferrer" role="menuitem">{{t 'Upgrade to the latest release' }}</a>
                </li>
                {{/if}}
            {{else}}
                <li class="org-info org-plan hidden-for-spectators small-font-size">
                    {{#if is_plan_limited }}
                        <a href="/plans" target="_blank" rel="noopener noreferrer" role="menuitem">Zulip Cloud Free</a>
                    {{else if is_plan_standard}}
                        <a href="/plans" target="_blank" rel="noopener noreferrer" role="menuitem">Zulip Cloud Standard</a>
                    {{else if is_plan_standard_sponsored_for_free}}
                        <a href="/plans" target="_blank" rel="noopener noreferrer" role="menuitem">Zulip Cloud Standard (sponsored)</a>
                    {{/if}}
                </li>
            {{/if}}
            {{#if (and is_plan_limited is_owner) }}
            <li class="org-info org-upgrade small-font-size">
                <a href="/upgrade" target="_blank" rel="noopener noreferrer" role="menuitem">{{#tr}}Upgrade to {standard_plan_name}{{/tr}}</a>
            </li>
            {{/if}}
            {{#if is_plan_limited }}
                {{#if is_education_org }}
                <li class="org-info org-upgrade small-font-size">
                    <a href="/upgrade" target="_blank" rel="noopener noreferrer" role="menuitem">{{t 'Request education pricing' }}</a>
                </li>
                {{else if (not is_business_org) }}
                <li class="org-info org-upgrade small-font-size">
                    <a href="/upgrade" target="_blank" rel="noopener noreferrer" role="menuitem">{{t 'Request sponsorship' }}</a>
                </li>
                {{/if}}
            {{/if}}
            <li class="divider" role="presentation"></li>
            <li class="hidden-for-spectators" role="presentation">
                <a href="#streams/subscribed" role="menuitem">
                    {{t 'Manage streams' }}
                </a>
            </li>
            <li class="hidden-for-spectators" role="presentation">
                <a class="gear-menu-link" href="#settings" role="menuitem">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.75 14.75L2.75 10.25M2.75 10.25C3.57843 10.25 4.25 9.57843 4.25 8.75C4.25 7.92157 3.57843 7.25 2.75 7.25C1.92157 7.25 1.25 7.92157 1.25 8.75C1.25 9.57843 1.92157 10.25 2.75 10.25ZM2.75 4.25V1.25M8 14.75V10.25M8 4.25V1.25M8 4.25C7.17157 4.25 6.5 4.92157 6.5 5.75C6.5 6.57843 7.17157 7.25 8 7.25C8.82843 7.25 9.5 6.57843 9.5 5.75C9.5 4.92157 8.82843 4.25 8 4.25ZM13.25 14.75V11.75M13.25 11.75C14.0784 11.75 14.75 11.0784 14.75 10.25C14.75 9.42157 14.0784 8.75 13.25 8.75C12.4216 8.75 11.75 9.42157 11.75 10.25C11.75 11.0784 12.4216 11.75 13.25 11.75ZM13.25 5.75V1.25" stroke="#101828" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    {{t 'Personal settings' }}
                </a>
            </li>
            <li class="admin-menu-item hidden-for-spectators" role="presentation">
                <a class="gear-menu-link" href="#organization" role="menuitem">
                    <svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.5 8.25H4M5.5 11.25H4M10 5.25H4M13 7.5V5.1C13 3.83988 13 3.20982 12.7548 2.72852C12.539 2.30516 12.1948 1.96095 11.7715 1.74524C11.2902 1.5 10.6601 1.5 9.4 1.5H4.6C3.33988 1.5 2.70982 1.5 2.22852 1.74524C1.80516 1.96095 1.46095 2.30516 1.24524 2.72852C1 3.20982 1 3.83988 1 5.1V12.9C1 14.1601 1 14.7902 1.24524 15.2715C1.46095 15.6948 1.80516 16.039 2.22852 16.2548C2.70982 16.5 3.33988 16.5 4.6 16.5H7.375M11.5 15.75C11.5 15.75 13.75 14.6776 13.75 13.0689V11.1922L12.1093 10.6059C11.7151 10.4647 11.284 10.4647 10.8898 10.6059L9.25 11.1922V13.0689C9.25 14.6776 11.5 15.75 11.5 15.75Z" stroke="#101828" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span>{{t 'Manage organization' }}</span>
                </a>
            </li>
            {{#unless is_guest}}
            <li class="hidden-for-spectators" role="presentation">
                <a class="gear-menu-link" href="/stats" target="_blank" rel="noopener noreferrer" role="menuitem">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.75 14.75H2.45C2.02996 14.75 1.81994 14.75 1.65951 14.6683C1.51839 14.5964 1.40365 14.4816 1.33175 14.3405C1.25 14.1801 1.25 13.97 1.25 13.55V1.25M14.75 4.25L10.6743 8.32574C10.5258 8.47424 10.4515 8.5485 10.3659 8.57632C10.2906 8.60079 10.2094 8.60079 10.1341 8.57632C10.0485 8.5485 9.97424 8.47424 9.82574 8.32574L8.42426 6.92426C8.27576 6.77576 8.2015 6.7015 8.11588 6.67368C8.04057 6.64921 7.95943 6.64921 7.88412 6.67368C7.7985 6.7015 7.72424 6.77576 7.57574 6.92426L4.25 10.25M14.75 4.25H11.75M14.75 4.25V7.25" stroke="#101828" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span>{{t 'Usage statistics' }}</span>
                </a>
            </li>
            {{/unless}}
            <li role="presentation" class="only-visible-for-spectators">
                <a class="change-language-spectator" role="menuitem">
                    <i class="zulip-icon zulip-icon-language" aria-hidden="true"></i> {{t 'Select language' }}
                </a>
            </li>
            <li role="presentation" class="only-visible-for-spectators">
                <a class="dark-theme" role="menuitem">
                    <i class="fa fa-moon-o" aria-hidden="true"></i> {{t 'Switch to dark theme' }}
                </a>
            </li>
            <li role="presentation" class="only-visible-for-spectators">
                <a class="light-theme" role="menuitem">
                    <i class="fa fa-sun-o" aria-hidden="true"></i> {{t 'Switch to light theme' }}
                </a>
            </li>
            <li class="divider" role="presentation"></li>
            <li role="presentation">
                <a class="gear-menu-link" href="/help" target="_blank" rel="noopener noreferrer" role="menuitem">
                    <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.75 4.25L8.91334 2.57669C8.67255 2.0951 8.55215 1.8543 8.37253 1.67837C8.21368 1.5228 8.02224 1.40448 7.81206 1.33198C7.57437 1.25 7.30516 1.25 6.76672 1.25H3.9C3.05992 1.25 2.63988 1.25 2.31901 1.41349C2.03677 1.5573 1.8073 1.78677 1.66349 2.06901C1.5 2.38988 1.5 2.80992 1.5 3.65V4.25M1.5 4.25H12.9C14.1601 4.25 14.7902 4.25 15.2715 4.49524C15.6948 4.71095 16.039 5.05516 16.2548 5.47852C16.5 5.95982 16.5 6.58988 16.5 7.85V11.15C16.5 12.4101 16.5 13.0402 16.2548 13.5215C16.039 13.9448 15.6948 14.289 15.2715 14.5048C14.7902 14.75 14.1601 14.75 12.9 14.75H5.1C3.83988 14.75 3.20982 14.75 2.72852 14.5048C2.30516 14.289 1.96095 13.9448 1.74524 13.5215C1.5 13.0402 1.5 12.4101 1.5 11.15V4.25ZM7.38757 7.81418C7.51972 7.43852 7.78055 7.12175 8.12387 6.91998C8.46719 6.71821 8.87085 6.64445 9.26334 6.71178C9.65583 6.7791 10.0118 6.98315 10.2683 7.2878C10.5247 7.59245 10.6651 7.97804 10.6645 8.37626C10.6645 9.50042 8.97826 10.0625 8.97826 10.0625M9 12.3125H9.0075" stroke="#101828" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    {{t 'Help center' }}
                </a>
            </li>
            <li role="presentation">
                <a class="gear-menu-link" tabindex="0" role="menuitem" data-overlay-trigger="keyboard-shortcuts">
                    <svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.25 7.875H12.75M4.5 4.5H4.5075M7.5 4.5H7.5075M10.5 4.5H10.5075M13.5 4.5H13.5075M3.9 10.5H14.1C14.9401 10.5 15.3601 10.5 15.681 10.3365C15.9632 10.1927 16.1927 9.96323 16.3365 9.68099C16.5 9.36012 16.5 8.94008 16.5 8.1V3.9C16.5 3.05992 16.5 2.63988 16.3365 2.31901C16.1927 2.03677 15.9632 1.8073 15.681 1.66349C15.3601 1.5 14.9401 1.5 14.1 1.5H3.9C3.05992 1.5 2.63988 1.5 2.31901 1.66349C2.03677 1.8073 1.8073 2.03677 1.66349 2.31901C1.5 2.63988 1.5 3.05992 1.5 3.9V8.1C1.5 8.94008 1.5 9.36012 1.66349 9.68099C1.8073 9.96323 2.03677 10.1927 2.31901 10.3365C2.63988 10.5 3.05992 10.5 3.9 10.5Z" stroke="#101828" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    {{t 'Keyboard shortcuts' }} <span class="hotkey-hint">(?)</span>
                </a>
            </li>
            <li role="presentation" class="hidden-for-spectators">
                <a class="gear-menu-link" tabindex="0" role="menuitem" data-overlay-trigger="message-formatting">
                    <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.75 4.25H3.9C3.05992 4.25 2.63988 4.25 2.31901 4.41349C2.03677 4.5573 1.8073 4.78677 1.66349 5.06901C1.5 5.38988 1.5 5.80992 1.5 6.65V9.35C1.5 10.1901 1.5 10.6101 1.66349 10.931C1.8073 11.2132 2.03677 11.4427 2.31901 11.5865C2.63988 11.75 3.05992 11.75 3.9 11.75H9.75M12.75 4.25H14.1C14.9401 4.25 15.3601 4.25 15.681 4.41349C15.9632 4.5573 16.1927 4.78677 16.3365 5.06901C16.5 5.38988 16.5 5.80992 16.5 6.65V9.35C16.5 10.1901 16.5 10.6101 16.3365 10.931C16.1927 11.2132 15.9632 11.4427 15.681 11.5865C15.3601 11.75 14.9401 11.75 14.1 11.75H12.75M12.75 14.75L12.75 1.25M14.625 1.25001L10.875 1.25M14.625 14.75L10.875 14.75" stroke="#101828" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    {{t 'Message formatting' }}
                </a>
            </li>
            <li role="presentation">
                <a class="gear-menu-link" tabindex="0" role="menuitem" data-overlay-trigger="search-operators">
                    <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.5 8.25H4M5.5 11.25H4M10 5.25H4M13 7.875V5.1C13 3.83988 13 3.20982 12.7548 2.72852C12.539 2.30516 12.1948 1.96095 11.7715 1.74524C11.2902 1.5 10.6601 1.5 9.4 1.5H4.6C3.33988 1.5 2.70982 1.5 2.22852 1.74524C1.80516 1.96095 1.46095 2.30516 1.24524 2.72852C1 3.20982 1 3.83988 1 5.1V12.9C1 14.1601 1 14.7902 1.24524 15.2715C1.46095 15.6948 1.80516 16.039 2.22852 16.2548C2.70982 16.5 3.33988 16.5 4.6 16.5H6.625M14.5 16.5L13.375 15.375M14.125 13.5C14.125 14.9497 12.9497 16.125 11.5 16.125C10.0503 16.125 8.875 14.9497 8.875 13.5C8.875 12.0503 10.0503 10.875 11.5 10.875C12.9497 10.875 14.125 12.0503 14.125 13.5Z" stroke="#101828" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    {{t 'Search filters' }}
                </a>
            </li>
            <li class="divider only-visible-for-spectators" role="presentation"></li>
            <li role="presentation" id="gear_menu_about_zulip">
                <a class="gear-menu-link" href="#about-zulip" role="menuitem" class="menuitem-version">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 12V9M9 6H9.0075M16.5 9C16.5 13.1421 13.1421 16.5 9 16.5C4.85786 16.5 1.5 13.1421 1.5 9C1.5 4.85786 4.85786 1.5 9 1.5C13.1421 1.5 16.5 4.85786 16.5 9Z" stroke="#101828" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span class="about_zulip_text">{{t "About Zulip" }}</span>
                </a>
            </li>
            {{#if corporate_enabled}}
            <li role="presentation">
                <a class="gear-menu-link" href="/help/contact-support" target="_blank" rel="noopener noreferrer" role="menuitem">
                    <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.5 3.25L7.62369 7.53658C8.11957 7.8837 8.36751 8.05726 8.6372 8.12448C8.87542 8.18386 9.12458 8.18386 9.3628 8.12448C9.63249 8.05726 9.88043 7.8837 10.3763 7.53658L16.5 3.25M5.1 13H12.9C14.1601 13 14.7902 13 15.2715 12.7548C15.6948 12.539 16.039 12.1948 16.2548 11.7715C16.5 11.2902 16.5 10.6601 16.5 9.4V4.6C16.5 3.33988 16.5 2.70982 16.2548 2.22852C16.039 1.80516 15.6948 1.46095 15.2715 1.24524C14.7902 1 14.1601 1 12.9 1H5.1C3.83988 1 3.20982 1 2.72852 1.24524C2.30516 1.46095 1.96095 1.80516 1.74524 2.22852C1.5 2.70982 1.5 3.33988 1.5 4.6V9.4C1.5 10.6601 1.5 11.2902 1.74524 11.7715C1.96095 12.1948 2.30516 12.539 2.72852 12.7548C3.20982 13 3.83988 13 5.1 13Z" stroke="#101828" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    {{t 'Contact support' }}
                </a>
            </li>
            {{/if}}
            <li class="divider" role="presentation"></li>
            <li role="presentation" class="hidden-for-spectators">
                <a class="gear-menu-link" href="{{ apps_page_url }}" target="_blank" rel="noopener noreferrer" role="menuitem">
                    <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.125 13H6M12.75 10.75H12.7575M6 2.5H3.9C3.05992 2.5 2.63988 2.5 2.31901 2.66349C2.03677 2.8073 1.8073 3.03677 1.66349 3.31901C1.5 3.63988 1.5 4.05992 1.5 4.9V7.6C1.5 8.44008 1.5 8.86012 1.66349 9.18099C1.8073 9.46323 2.03677 9.6927 2.31901 9.83651C2.63988 10 3.05992 10 3.9 10H6M11.4 13H14.1C14.9401 13 15.3601 13 15.681 12.8365C15.9632 12.6927 16.1927 12.4632 16.3365 12.181C16.5 11.8601 16.5 11.4401 16.5 10.6V3.4C16.5 2.55992 16.5 2.13988 16.3365 1.81901C16.1927 1.53677 15.9632 1.3073 15.681 1.16349C15.3601 1 14.9401 1 14.1 1H11.4C10.5599 1 10.1399 1 9.81901 1.16349C9.53677 1.3073 9.3073 1.53677 9.16349 1.81901C9 2.13988 9 2.55992 9 3.4V10.6C9 11.4401 9 11.8601 9.16349 12.181C9.3073 12.4632 9.53677 12.6927 9.81901 12.8365C10.1399 13 10.5599 13 11.4 13Z" stroke="#101828" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    {{t 'Desktop & mobile apps' }}
                </a>
            </li>
            <li role="presentation" class="hidden-for-spectators">
                <a class="gear-menu-link" href="/integrations" target="_blank" rel="noopener noreferrer" role="menuitem">
                    <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.95114 15.6704C7.32144 15.5593 7.53157 15.1691 7.42048 14.7988C7.30939 14.4285 6.91915 14.2184 6.54886 14.3295L6.95114 15.6704ZM1.66977 12.0709C1.29472 11.9771 0.914664 12.2051 0.8209 12.5802C0.727136 12.9552 0.955169 13.3353 1.33023 13.4291L1.66977 12.0709ZM11.3 17.25C11.3 17.6366 11.6134 17.95 12 17.95C12.3866 17.95 12.7 17.6366 12.7 17.25H11.3ZM12 14.3475L11.3022 14.2926C11.3007 14.3108 11.3 14.3291 11.3 14.3475H12ZM11.295 12.39L11.2175 11.6943C10.952 11.7238 10.7265 11.9019 10.6362 12.1532C10.5459 12.4046 10.6065 12.6854 10.7924 12.8772L11.295 12.39ZM16.125 7.13995H16.825V7.13982L16.125 7.13995ZM15 4.32745L14.3442 4.0827C14.2505 4.33368 14.3083 4.6161 14.493 4.81012L15 4.32745ZM14.9325 1.49995L15.5759 1.22419C15.4939 1.03291 15.3311 0.88803 15.1316 0.828852L14.9325 1.49995ZM12 2.60995L11.8169 3.28558C12.0125 3.33859 12.2214 3.30424 12.3898 3.1914L12 2.60995ZM6.75 2.60995L6.36024 3.1914C6.52856 3.30424 6.73752 3.33859 6.93311 3.28558L6.75 2.60995ZM3.8175 1.49995L3.61844 0.828852C3.41893 0.88803 3.25609 1.03291 3.17411 1.22419L3.8175 1.49995ZM3.75 4.32745L4.25698 4.81013C4.44169 4.61611 4.49948 4.33368 4.40582 4.0827L3.75 4.32745ZM2.625 7.16245H3.32501L3.32499 7.15873L2.625 7.16245ZM7.455 12.4125L7.95802 12.8992C8.14258 12.7085 8.20341 12.4299 8.11514 12.1796C8.02686 11.9293 7.80464 11.7505 7.54128 11.7178L7.455 12.4125ZM6.75 14.3475H7.45C7.45 14.3311 7.44942 14.3147 7.44828 14.2983L6.75 14.3475ZM6.05 17.25C6.05 17.6366 6.3634 17.95 6.75 17.95C7.1366 17.95 7.45 17.6366 7.45 17.25H6.05ZM6.54886 14.3295C5.69095 14.5868 5.11663 14.5874 4.71811 14.4942C4.32861 14.403 4.04063 14.2069 3.77622 13.9425C3.64009 13.8063 3.51286 13.6547 3.3786 13.4866C3.25297 13.3292 3.10283 13.1332 2.95865 12.964C2.66719 12.6218 2.26588 12.2199 1.66977 12.0709L1.33023 13.4291C1.48412 13.4675 1.64531 13.5812 1.89291 13.8718C2.01827 14.019 2.13179 14.1687 2.28449 14.36C2.42855 14.5405 2.59429 14.7404 2.78628 14.9324C3.17812 15.3243 3.68701 15.6907 4.39907 15.8573C5.10212 16.0219 5.93405 15.9756 6.95114 15.6704L6.54886 14.3295ZM12.7 17.25V14.3475H11.3V17.25H12.7ZM12.6978 14.4024C12.7705 13.4785 12.4426 12.5681 11.7976 11.9027L10.7924 12.8772C11.1576 13.2539 11.3433 13.7695 11.3022 14.2926L12.6978 14.4024ZM11.3725 13.0856C12.5894 12.95 13.9684 12.642 15.0436 11.7379C16.1529 10.8052 16.825 9.33883 16.825 7.13995H15.425C15.425 9.03607 14.8596 10.0635 14.1426 10.6664C13.3916 11.2979 12.3556 11.5674 11.2175 11.6943L11.3725 13.0856ZM16.825 7.13982C16.8248 5.91304 16.3529 4.7333 15.507 3.84479L14.493 4.81012C15.0912 5.4384 15.4248 6.27261 15.425 7.14008L16.825 7.13982ZM15.6558 4.5722C16.0606 3.48743 16.032 2.2884 15.5759 1.22419L14.2891 1.77572C14.6034 2.50903 14.6231 3.33523 14.3442 4.0827L15.6558 4.5722ZM14.9325 1.49995C15.1316 0.828852 15.1309 0.828651 15.1302 0.828451C15.13 0.828382 15.1293 0.828181 15.1288 0.828046C15.1279 0.827775 15.1269 0.827501 15.126 0.827226C15.1241 0.826675 15.1221 0.826116 15.1201 0.825549C15.116 0.824416 15.1117 0.823253 15.1072 0.822069C15.0982 0.819699 15.0882 0.817244 15.0773 0.814763C15.0554 0.809801 15.0299 0.804751 15.0007 0.80009C14.9422 0.790758 14.8692 0.783063 14.7815 0.780648C14.6056 0.775807 14.3736 0.792256 14.0824 0.856903C13.5012 0.98592 12.6882 1.30591 11.6102 2.0285L12.3898 3.1914C13.3593 2.5415 14.0125 2.30649 14.3858 2.22363C14.5718 2.18234 14.6889 2.17863 14.743 2.18012C14.7702 2.18087 14.7823 2.18296 14.7802 2.18262C14.7792 2.18246 14.7747 2.18171 14.7669 2.17992C14.7629 2.17902 14.7582 2.17788 14.7526 2.17642C14.7498 2.17569 14.7468 2.17488 14.7436 2.17399C14.742 2.17354 14.7404 2.17307 14.7387 2.17259C14.7378 2.17234 14.737 2.17209 14.7361 2.17184C14.7357 2.17171 14.735 2.17151 14.7348 2.17145C14.7341 2.17125 14.7334 2.17105 14.9325 1.49995ZM12.1831 1.93433C10.3442 1.43595 8.40579 1.43595 6.56689 1.93433L6.93311 3.28558C8.53219 2.85219 10.2178 2.85219 11.8169 3.28558L12.1831 1.93433ZM7.13976 2.0285C6.0618 1.30591 5.24879 0.98592 4.66765 0.856903C4.37645 0.792256 4.14439 0.775807 3.96851 0.780648C3.88076 0.783063 3.8078 0.790758 3.74928 0.80009C3.72006 0.804751 3.69456 0.8098 3.67273 0.814763C3.66183 0.817244 3.65185 0.819699 3.6428 0.822069C3.63827 0.823253 3.63398 0.824416 3.62992 0.825549C3.62789 0.826116 3.62592 0.826675 3.62401 0.827226C3.62305 0.827501 3.62211 0.827775 3.62118 0.828046C3.62072 0.828181 3.62003 0.828382 3.6198 0.828451C3.61912 0.828651 3.61844 0.828852 3.8175 1.49995C4.01656 2.17105 4.01588 2.17125 4.01522 2.17145C4.015 2.17151 4.01433 2.17171 4.0139 2.17184C4.01302 2.17209 4.01216 2.17234 4.01131 2.17259C4.00962 2.17307 4.00797 2.17354 4.00637 2.17399C4.00318 2.17488 4.00019 2.17569 3.9974 2.17642C3.99183 2.17788 3.98707 2.17902 3.98314 2.17992C3.97528 2.18171 3.97079 2.18246 3.96977 2.18262C3.96765 2.18296 3.97982 2.18087 4.00703 2.18012C4.06108 2.17863 4.17824 2.18234 4.36423 2.22363C4.73746 2.30649 5.3907 2.5415 6.36024 3.1914L7.13976 2.0285ZM3.17411 1.22419C2.71797 2.2884 2.68935 3.48743 3.09418 4.5722L4.40582 4.0827C4.12687 3.33523 4.14659 2.50903 4.46089 1.77572L3.17411 1.22419ZM3.24302 3.84478C2.39082 4.73988 1.91844 5.93028 1.92501 7.16617L3.32499 7.15873C3.32034 6.28482 3.65437 5.44307 4.25698 4.81013L3.24302 3.84478ZM1.925 7.16245C1.925 9.34858 2.59853 10.8064 3.70637 11.7379C4.7791 12.6399 6.15538 12.9564 7.36872 13.1071L7.54128 11.7178C6.39962 11.576 5.3609 11.3 4.60738 10.6664C3.88897 10.0623 3.325 9.04132 3.325 7.16245H1.925ZM6.95198 11.9257C6.31473 12.5841 5.98743 13.4825 6.05172 14.3966L7.44828 14.2983C7.41187 13.7808 7.5972 13.2721 7.95802 12.8992L6.95198 11.9257ZM6.05 14.3475V17.25H7.45V14.3475H6.05Z" fill="#101828"/>
                    </svg>
                    {{t 'Integrations' }}
                </a>
            </li>
            <li role="presentation" class="hidden-for-spectators">
                <a class="gear-menu-link" href="/api" target="_blank" rel="noopener noreferrer" role="menuitem">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 13.5V13.35C3 12.0899 3 11.4598 3.24524 10.9785C3.46095 10.5552 3.80516 10.211 4.22852 9.99524C4.70982 9.75 5.33988 9.75 6.6 9.75H11.4C12.6601 9.75 13.2902 9.75 13.7715 9.99524C14.1948 10.211 14.539 10.5552 14.7548 10.9785C15 11.4598 15 12.0899 15 13.35V13.5M3 13.5C2.17157 13.5 1.5 14.1716 1.5 15C1.5 15.8284 2.17157 16.5 3 16.5C3.82843 16.5 4.5 15.8284 4.5 15C4.5 14.1716 3.82843 13.5 3 13.5ZM15 13.5C14.1716 13.5 13.5 14.1716 13.5 15C13.5 15.8284 14.1716 16.5 15 16.5C15.8284 16.5 16.5 15.8284 16.5 15C16.5 14.1716 15.8284 13.5 15 13.5ZM9 13.5C8.17157 13.5 7.5 14.1716 7.5 15C7.5 15.8284 8.17157 16.5 9 16.5C9.82843 16.5 10.5 15.8284 10.5 15C10.5 14.1716 9.82843 13.5 9 13.5ZM9 13.5V6M4.5 6H13.5C14.1989 6 14.5484 6 14.824 5.88582C15.1916 5.73358 15.4836 5.44157 15.6358 5.07403C15.75 4.79837 15.75 4.44891 15.75 3.75C15.75 3.05109 15.75 2.70163 15.6358 2.42597C15.4836 2.05843 15.1916 1.76642 14.824 1.61418C14.5484 1.5 14.1989 1.5 13.5 1.5H4.5C3.80109 1.5 3.45163 1.5 3.17597 1.61418C2.80843 1.76642 2.51642 2.05843 2.36418 2.42597C2.25 2.70163 2.25 3.05109 2.25 3.75C2.25 4.44891 2.25 4.79837 2.36418 5.07403C2.51642 5.44157 2.80843 5.73358 3.17597 5.88582C3.45163 6 3.80109 6 4.5 6Z" stroke="#101828" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    {{t 'API documentation' }}
                </a>
            </li>
            {{#if show_billing}}
            <li role="presentation" class="hidden-for-spectators">
                <a href="/billing" target="_blank" rel="noopener noreferrer" role="menuitem">
                    <i class="fa fa-credit-card" aria-hidden="true"></i> {{t 'Billing' }}
                </a>
            </li>
            {{/if}}
            {{#if promote_sponsoring_zulip}}
            <li role="presentation" class="hidden-for-spectators">
                <a class="gear-menu-link" href="https://github.com/sponsors/zulip" target="_blank" rel="noopener noreferrer" role="menuitem">
                    {{t 'Support Zulip' }}
                </a>
            </li>
            {{/if}}
            {{#if show_plans}}
            <li role="presentation" class="hidden-for-spectators">
                <a href="/plans" target="_blank" rel="noopener noreferrer" role="menuitem">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.3085 2.10961C14.0321 1.36225 15.2276 1.35259 15.9632 2.08815C16.6786 2.80355 16.6919 3.95928 15.9932 4.69098L13.9092 6.87331C13.7458 7.04436 13.6642 7.12989 13.6138 7.23006C13.5693 7.31873 13.5428 7.41537 13.5358 7.51437C13.528 7.6262 13.5546 7.74143 13.6078 7.97189L14.9037 13.5876C14.9583 13.8241 14.9856 13.9424 14.9768 14.0568C14.969 14.1581 14.9407 14.2567 14.8936 14.3467C14.8405 14.4484 14.7546 14.5342 14.583 14.7059L14.3049 14.984C13.8503 15.4386 13.623 15.6659 13.3903 15.7071C13.1872 15.743 12.9782 15.6937 12.8126 15.5707C12.6229 15.4298 12.5212 15.1249 12.3179 14.5149L10.8106 9.99298L8.30162 12.502C8.15185 12.6517 8.07697 12.7266 8.02688 12.8148C7.9825 12.8929 7.95252 12.9784 7.93837 13.0671C7.9224 13.1673 7.93409 13.2725 7.95748 13.483L8.09527 14.7231C8.11865 14.9336 8.13035 15.0388 8.11438 15.139C8.10023 15.2277 8.07025 15.3131 8.02587 15.3913C7.97578 15.4795 7.9009 15.5543 7.75113 15.7041L7.603 15.8522C7.24821 16.207 7.07081 16.3844 6.87368 16.4358C6.70077 16.4809 6.51745 16.4627 6.35673 16.3846C6.1735 16.2956 6.03434 16.0868 5.75602 15.6693L4.57977 13.905C4.53005 13.8304 4.50519 13.7931 4.47632 13.7593C4.45068 13.7292 4.42271 13.7013 4.39266 13.6756C4.35884 13.6467 4.32154 13.6219 4.24695 13.5722L2.48259 12.3959C2.06511 12.1176 1.85636 11.9784 1.76732 11.7952C1.68923 11.6345 1.67107 11.4512 1.71614 11.2783C1.76751 11.0811 1.94491 10.9037 2.2997 10.5489L2.44783 10.4008C2.5976 10.251 2.67248 10.1762 2.76066 10.1261C2.83879 10.0817 2.92425 10.0517 3.01297 10.0376C3.11312 10.0216 3.21838 10.0333 3.42888 10.0567L4.66892 10.1945C4.87942 10.2178 4.98468 10.2295 5.08483 10.2136C5.17355 10.1994 5.25901 10.1694 5.33713 10.1251C5.42532 10.075 5.5002 10.0001 5.64997 9.85032L8.15896 7.34133L3.637 5.83401C3.02708 5.6307 2.72212 5.52905 2.58127 5.33937C2.45828 5.17374 2.40895 4.96476 2.44488 4.76161C2.48603 4.52897 2.71334 4.30167 3.16794 3.84706L3.44602 3.56898C3.61769 3.39731 3.70353 3.31148 3.80522 3.25831C3.89523 3.21125 3.99386 3.18296 4.09512 3.17516C4.20954 3.16635 4.32782 3.19365 4.56438 3.24824L10.1587 4.53924C10.3912 4.59289 10.5074 4.61971 10.6197 4.61173C10.728 4.60403 10.8334 4.57288 10.9285 4.52044C11.027 4.46613 11.11 4.38043 11.276 4.20903L13.3085 2.10961Z" stroke="#101828" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    {{t 'Plans and pricing' }}
                </a>
            </li>
            {{/if}}
            <li class="divider hidden-for-spectators" role="presentation"></li>
            {{#if can_invite_others_to_realm}}
            <li role="presentation">
                <a class="gear-menu-link" href="#invite" role="menuitem">
                    {{t 'Invite users' }}
                </a>
            </li>
            <li class="divider" role="presentation"></li>
            {{/if}}
            {{#if show_webathena}}
            <li title="{{t 'Grant Zulip the Kerberos tickets needed to run your Zephyr mirror via Webathena' }}" id="webathena_login_menu" role="presentation">
                <a href="#webathena" class="webathena_login" role="menuitem">
                    <i class="fa fa-bolt" aria-hidden="true"></i>{{t 'Link with Webathena' }}
                </a>
            </li>
            {{/if}}
            <li role="presentation" class="only-visible-for-spectators">
                <a href="{{login_link}}" role="menuitem">
                    <i class="fa fa-sign-in" aria-hidden="true"></i> {{t 'Log in' }}
                </a>
            </li>
            <li role="presentation">
                <a href="#logout" class="logout_button hidden-for-spectators gear-menu-link" role="menuitem">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11 11.75L14.75 8M14.75 8L11 4.25M14.75 8H5.75M5.75 1.25H4.85C3.58988 1.25 2.95982 1.25 2.47852 1.49524C2.05516 1.71095 1.71095 2.05516 1.49524 2.47852C1.25 2.95982 1.25 3.58988 1.25 4.85V11.15C1.25 12.4101 1.25 13.0402 1.49524 13.5215C1.71095 13.9448 2.05516 14.289 2.47852 14.5048C2.95982 14.75 3.58988 14.75 4.85 14.75H5.75" stroke="#101828" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    {{t 'Log out' }}
                </a>
            </li>
        </ul>
    </li>
</ul>
